<button (click)="getDoge()">Search Pokemon</button><br>
<input [(ngModel)]="searchString"><br>
<table *ngIf="pokemon;else noPokemon">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <!-- <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Rating</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]='pokemon.sprites.front_default'
                     style="width:50px; margin:2px"></td>
            <td>{{pokemon.name}}</td>
        </tr>
    </tbody>
</table>
<ng-template #noPokemon>
    No Pokemon Found
</ng-template>
