<div>
    <p>Add New Product</p>
    <hr>
    <label>Product Name</label>
    <input [(ngModel)]="productName"><br>
    <label>Product Code</label>
    <input [(ngModel)]="productCode"><br>
    <label>Product Release Date</label>
    <input [(ngModel)]="releaseDate"><br>
    <label>Product Description</label>
    <input [(ngModel)]="description"><br>
    <label>Product Price</label>
    <input [(ngModel)]="price"><br>
    <label>Product Star Rating</label>
    <input [(ngModel)]="starRating"><br>
    <label>Product Image</label>
    <input [(ngModel)]="pokemonUrl"><br>
    <button (click)="addNewProduct()">Add Product</button><br>
</div>